<body >
    

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h3>Welcome To Employee Management System 
                        <span><i class="fa-solid fa-briefcase"></i></span>
                    </h3>
                    <img src="https://imgs.search.brave.com/-8NL-SBUFjKmDEt8B8EifbuCtrpPZZFwz_tfol1c4Yk/rs:fit:832:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5p/UGtaeXE1Y3hZQVpu/MzA0eV9uUGFnSGFF/TyZwaWQ9QXBp" alt="">
  
                </div>
               
               
                  
                    <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-primary "  routerLink="/login"> Admin Login</button>
                    <button type="submit" class="btn btn-success " routerLink="/user-login"> User Login</button>
                </div> 
              
          
            </div>
        </div>
    </div>
  </div>
</body>